<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATV-29-04_Fornecedor</title>
</head>
<body>
    <header> 
        <h2>ATV-29-04_Fornecedor</h2>
    </header>
    <Nav>
        <ul>
            <a href="/index/">Index</a>
        </ul>
        <ul>
            <a href="/fornecedor/list">fornecedor/list</a>
        </ul>
    </Nav>
    
</body>
</html>