<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <header>
        <h2>List</h2>

    </header>
    <div container>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td> Gabriel Broering Mazzolla Morais</td>
                <td>gabriel_b_morais@estudante.sc.senai.br</td>
                <td>48 99999 9999 </td>
              </tr>
            </tbody>
          </table>
    </div>
    
</body>
</html>